<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bback.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,844},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{64,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Bbottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,644},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Bfirewall.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1120},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Blineboost.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1052},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Blink.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,984},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Bnotfound.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,916},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Bvirus.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,848},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Bviruschecker.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,780},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Gback.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,778},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{64,64}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Gbottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,712},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Gfirewall.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,644},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Glineboost.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,1243},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Glink.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,1205},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Gnotfound.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,1177},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Gvirus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,1139},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Gviruschecker.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,1111},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>WupaFace.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1154},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>block.png</key>
            <dict>
                <key>frame</key>
                <string>{{2026,2},{1,1}}</string>
                <key>offset</key>
                <string>{-34.5,34.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>checkTag.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{258,1985},{52,56}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{52,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>checkboard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,1236},{615,747}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,747}}</string>
                <key>sourceSize</key>
                <string>{615,747}</string>
            </dict>
            <key>checkboard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{615,747}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,747}}</string>
                <key>sourceSize</key>
                <string>{615,747}</string>
            </dict>
            <key>closeSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,669},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>exist.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,1045},{92,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{92,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>focus1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1985},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>focus2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1985},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>forward.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,712},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>head.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1853,2},{615,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,171}}</string>
                <key>sourceSize</key>
                <string>{615,171}</string>
            </dict>
            <key>navigate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{364,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,2},{364,508}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>notfound.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,1045},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{64,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>openSound.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,619},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>popBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{80,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>shutdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,719},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1985},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{52,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>stateBar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,619},{615,887}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,887}}</string>
                <key>sourceSize</key>
                <string>{615,887}</string>
            </dict>
            <key>stateBar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{615,887}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,887}}</string>
                <key>sourceSize</key>
                <string>{615,887}</string>
            </dict>
            <key>switchTag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1985},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>target.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1985},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{56,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>剪刀.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1154},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>剪刀1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,903},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>布.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1154},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>布1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,761},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>石头.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1154},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>石头1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,619},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tex1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd63237a4d1ff3cf83fdbe956fe6e375:08b1d53169930b9e80fb7f1cc679dadd:a23a1bb9d5ed0598475f7e297b1d461a$</string>
            <key>textureFileName</key>
            <string>Tex1.png</string>
        </dict>
    </dict>
</plist>
